body {
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#wrapper {

    margin-top: 0px;
    float: right;
    width: 60%;
    margin-right: 50px;
}

header h1 {
    text-align: right;
    font-size: 25px;
    margin-bottom: 5px;

}

header h2 {

    margin-top: 0px;
    margin-bottom: 30px;
    text-align: right;
    font-size: 20px;
    color: darkgray;
}

header h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    color: darkgray
}

header img {
    margin-top: 50px;
    width: 100%;
}

nav {
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    width: 15%;
    line-height: 30px;
    position: fixed;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: darkgray;
}

section {
    margin-bottom: 30px;
    text-align: justify;
}

article p:last-child {
    margin-bottom: 80px;
}

article h3 {
    margin-bottom: 10px;
    color: darkgray;

}

footer {
    margin-top: 20px;
    min-height: 30px;
    font-size: 10px;
    font-weight: lighter;
    text-align: right;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: black;

}

.books {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
    height: 16px;

}

.books img {
    display: block;
    width: 100%;
    height: auto;
}

.books>div {
    text-align: center;
    padding: 10px;
}

.books figure {
    margin: 0;
}

article figure figcaption {
    margin-top: 5px;
    font-size: 12px;

}

table img {
    max-width: 100%;
    max-height: 100%;

}

@media(max-width: 480px) {
    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: 30px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 4px solid #000;
        background: #000;
        z-index: 1000;
        color: white;

    }

    nav a {
        color: rgb(125, 22, 22);

    }

    h1 {
        margin-top: 50px;
    }

    #wrapper {
        margin-top: 50px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        float: none;

    }

    footer {
        margin-top: 40px;
        font-size: 12px;

    }

    .books {
        grid-template-columns: auto auto;
        gap: 16px;

    }
}


/*ipad*/
@media(max-width:768px) {
    #wrapper {
        width: 80%;
        float: none;
        margin: 0 auto;

    }
}

nav {
    position: relative;
    float: none;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.books {
    grid-template-columns: repeat(2, 1fr);

}


/*iphone*/
@media(max-width:480px) {
    #wrapper {
        width: 90%;
        margin: 0 auto;
        float: none;

    }

    nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background: #000;
        border-bottom: 3px solid #000;
        padding: 10px 0;
        position: relative;


    }

    nav a {
        color: rgb(211, 43, 43);
        margin: 5px;

    }

    .books {
        grid-template-columns: 1fr;
    }

    footer {
        font-size: 12px;
        text-align: center;
        margin-top: 40px;
    }
}